* {
	box-sizing:border-box;
}

html {
	height:100%;
}

body {
	background: #3B3f45;
	font-family:"Trebuchet", Arial, sans-serif;
	margin: 0;
	min-height:100%;
	border: 24px solid #fff;
  
}

* {
  transition: all.1s ease-in;
}

header {
	background: #4A4f56;
	padding-top: .1%;
	height: 117px;
	font-size: 20px;
}

h1 {
	color:#DC7D7E;
	text-align:center;
	margin: 16px 0 -17px 0;
	
}

p {
	color:#DC7D7E;
	text-align:center;
	font-size: 23px;
  	padding: 15px 0 0 0;
}

main {
	padding-top: 2%;
	width: 75%;
	margin: 0px auto;
}

ul {
  	padding: 0px;
  	color:#fff;
  	list-style-type: none;
  	background-color: #88839e;
}

span {
	font-size:20px;
}

small {
	opacity:.7
}

footer {
	background-color: #4A4f56;
	width: 100%;
	height: 75px;
	margin-top: 2%
}

footer p {
	margin: 0;
	padding-top: 25px;
}



li {
 	height:46px;
  	border-top: 2px solid #88839e;
  	border-bottom: 2px solid #88839e;
  
}

label {
	width: 100%;
	cursor:pointer;  
	height:50px;
	display:inline-block
  
}

input[type="checkbox"] {
	transform: scale(2);
	width:50px;
	margin-top: 17px;
	display:inline-block;
}

input[type="checkbox"]:checked + span{
  	text-decoration: line-through;
  	opacity:.4
}

li:nth-child(even) {
	background-color: #7a7593;
}

small:not(:empty)::before {
	content:"("
}
small:not(:empty)::after {
	content:")"
}

li:hover,
li:focus {
	background-color: #625e77;
	border-top: 2px solid #fff;
 	border-bottom: 2px solid #fff;
}

li:active {
	background-color: #97484b;
}

